* {
    box-sizing: border-box;
}

body {
    width: 100vw;

    background-color: #00ff9d;
    color: #00252C;
}

body,
ul, .introduction {
    margin: 0 auto;
    padding: 0;


    text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;

    background-color: aquamarine;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 300%;
}

.introduction {
    margin-bottom: 50px;
    width: 90%;

    font-size: 30px;
    
}

h2 {
    margin-bottom: 10px;

    text-decoration: underline;
}


ul {
    width: 50%;

    list-style: none;
}

li {
    padding: 10px;
}